:root {
    --base: 240, 6%, 90%;
    --base-lighter: 240, 10%, 71%;
    --base-darker: 230, 8%, 85%;
    --txtc: 228, 26%, 27%;
    --accent: 189, 70%, 21%;
    --neutral: 230, 12%, 38%;
    --neutral-lighten: 39.7, 43.5%, 70.3%;
    --red: 349, 89%, 72%;
    --green: 89, 51%, 61%;
    --yellow: 36, 66%, 64%;
    --accent-2: 261, 24%, 38%;
}

:root.dark {
    --base: 230, 24%, 19%;
    --base-lighter: 229, 24%, 33%;
    --base-darker: 230, 24%, 17%;
    --txtc: 32, 12%, 79%;
    --accent: 189, 73%, 54%;
    --accent-2: 261, 85%, 79%;
    --neutral: 229, 35%, 65%;
    --neutral-lighten: 179.4, 94.2%, 25.4%;
}
