:root {
    --base: 53, 74%, 91%;
    --base-lighter: 48, 87%, 88%;
    --base-darker: 43, 59%, 81%;
    --txtc: 20, 5%, 22%;
    --red: 2, 75%, 46%;
    --green: 60, 71%, 35%;
    --yellow: 40, 73%, 49%;
    --accent: 190, 89%, 22%;
    --accent-2: 323, 39%, 36%;
    --neutral: 20, 5%, 22%;
}

:root.dark {
    --base: 0, 0%, 16%;
    --base-lighter: 22, 7%, 29%;
    --base-darker: 20, 5%, 22%;
    --txtc: 43, 59%, 81%;
    --red: 6, 96%, 59%;
    --green: 61, 66%, 44%;
    --yellow: 42, 95%, 58%;
    --accent: 27, 99%, 55%;
    --accent-2: 344, 47%, 68%;
    --neutral: 40, 38%, 75%;
}
