---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"Home"} description={"Home Page"}>
    <Fragment slot="main">
        <h1>Hello world</h1>
        <article><p>This is my personal website.</p></article>
    </Fragment>
</BaseLayout>
