---
const year = new Date().getFullYear();
---

<footer class="footer">
    <address class="footer-contacts">
        <a
            class="footer-links--github"
            target="_blank"
            rel="nofollow noreferrer"
            aria-label="github"
            href="https://github.com/onadrog"
        >
            <img src="/icons/github.svg" alt="" aria-hidden="true" width="16" />
            <span class="sr-only">github</span>
        </a>
    </address>
    <p class="footer-links">
        <a class="footer-links--rss" href="/rss.xml">RSS</a>
        <a class="footer-links--sitemap" href="/sitemap-index.xml">Sitemap</a>
    </p>
    <p class="footer-copyright">
        <span> &#xa9; 2022 - {year} Sébastien Gordano.</span>
        <span class="footer-copyright--theme"
            ><a
                href="https://github.com/onadrog/cmd_theme"
                rel="nofollow noreferrer">cmd_theme</a
            > made with <span aria-hidden="true">&#9829;</span><span
                class="sr-only">love</span
            > by
        Sébastien Gordano</span>
    </p>
</footer>
