---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav class="navigation">
    <a href="#main" class="hidden-menu">Skip to main content</a>
    <ThemeSwitcher />
    <ul class="navigation-list">
        <li class="navigation-list--links"><a href="/">Accueil</a></li>
        <li class="navigation-list--links"><a href="/blog">Blog</a></li>
        <li class="navigation-list--links"><a href="/a-propos">À propos</a></li>
    </ul>
</nav>
