---
import CrtSwitch from "./CrtSwitch.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav aria-label="Main Menu" class="navigation">
    <a href="#main" class="hidden-menu">Skip to main content</a>
    <ThemeSwitcher />
    <CrtSwitch />
    <ul class="navigation-list">
        <li class="navigation-list--links"><a rel="prefetch" href="/">Home</a></li>
        <li class="navigation-list--links"><a rel="prefetch"href="/blog">Blog</a></li>
        <li class="navigation-list--links"><a rel="prefetch"href="/about">About</a></li>
    </ul>
</nav>
