---
import { getSiteURL } from "../utils/getSiteUrl";
import CrtSwitch from "./CrtSwitch.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav aria-label="Main Menu" class="navigation">
    <a href="#main" class="hidden-menu">Skip to main content</a>
    <ThemeSwitcher />
    <CrtSwitch />
    <ul class="navigation-list">
        <li class="navigation-list--links">
            <a rel="prefetch" href={getSiteURL("/", Astro.site).toString()}
                >Home</a
            >
        </li>
        <li class="navigation-list--links">
            <a rel="prefetch" href={getSiteURL("blog", Astro.site).toString()}
                >Blog</a
            >
        </li>
        <li class="navigation-list--links">
            <a rel="prefetch" href={getSiteURL("about", Astro.site).toString()}
                >About</a
            >
        </li>
    </ul>
</nav>
