---
import { Icon } from "astro-icon";
---

<theme-switcher id="themeToggle">
    <fieldset class="switcher-wrapper">
        <legend class="sr-only">Choose a scheme theme</legend>
        <label for="light" title="Use light mode">
            <Icon name="sun" size={18} aria-hidden="true" class="light" />
            <input type="radio" id="light" name="theme-toggle" value="light" />
        </label>
        <label for="dark" title="Use dark mode">
            <Icon name="moon" size={18} aria-hidden="true" class="dark" />
            <input type="radio" id="dark" name="theme-toggle" value="dark" />
        </label>
    </fieldset>
</theme-switcher>

<script>
    class ThemeSwitcher extends HTMLElement {
        root: DOMTokenList;
        theme: string;
        inputs: NodeListOf<HTMLInputElement>;
        constructor() {
            super();
            this.root = document.documentElement.classList;
            this.theme = "";
            this.inputs = this.querySelectorAll("input[name='theme-toggle']");
        }

        connectedCallback() {
            this.getSessionStorage();
            (
                this.querySelector(
                    `input[value=${this.theme}]`
                ) as HTMLInputElement
            ).checked = true;
            this.inputs.forEach((i) =>
                i.addEventListener("change", (e) => this.handleToggle(e))
            );
        }

        getSessionStorage(): void {
            if (sessionStorage.getItem("theme")) {
                this.theme = sessionStorage.getItem("theme") as string;
            } else if (
                window.matchMedia("(prefers-color-scheme: dark)").matches
            ) {
                this.theme = "dark";
            } else {
                this.theme = "light";
            }
            this.changeTheme();
        }

        handleToggle(e: Event): void {
            this.querySelector(`svg.${this.theme} > path`)!.setAttribute(
                "fill-rule",
                "evenodd"
            );
            const target = e.target as HTMLInputElement;
            this.theme = target.value;
            sessionStorage.setItem("theme", this.theme);
            this.changeTheme();
        }

        changeTheme() {
            if (this.theme === "light") {
                this.root.remove("dark");
            } else {
                this.root.add("dark");
            }
            this.querySelector(`svg.${this.theme} > path`)!.setAttribute(
                "fill-rule",
                "nonzero"
            );
        }
    }
    customElements.define("theme-switcher", ThemeSwitcher);
</script>
