---
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import { site } from "../data/site";

type Props = CollectionEntry<"blog">["data"];
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={site.lang}>
    <head>
        <Head title={title} description={description} />
    </head>
    <body>
        <Navigation />
        <main id="main" class="container">
            <article>
                <h1>{title}</h1>
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
