.footer {
    grid-area: footer;
    text-align: center;
    display: grid;
    gap: 0.5em;
    grid-template-areas:
        "contact links"
        "copyright copyright";
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;

    &-contact {
        grid-area: contact;
    }

    &-links {
        grid-area: links;
    }

    &-copyright {
        grid-area: copyright;
        display: grid;
        grid-auto-flow: row;
        gap: inherit;

        a {
            color: hsl(var(--accent));
            font-weight: bold;
        }
    }
}
