@use "../mixins/" as *;
@use "../themes/tokyonight";

:root {
    // font size
    --fs--2: clamp(0.48rem, calc(0.53rem + -0.04vw), 0.52rem);
    --fs--1: clamp(0.6rem, calc(0.63rem + -0.03vw), 0.63rem);
    --fs-0: clamp(0.75rem, calc(0.75rem + 0vw), 0.75rem);
    --fs-1: clamp(0.9rem, calc(0.89rem + 0.04vw), 0.94rem);
    --fs-2: clamp(1.08rem, calc(1.06rem + 0.1vw), 1.17rem);
    --fs-3: clamp(1.3rem, calc(1.26rem + 0.17vw), 1.47rem);
    --fs-4: clamp(1.56rem, calc(1.49rem + 0.29vw), 1.83rem);
    --fs-5: clamp(1.87rem, calc(1.76rem + 0.44vw), 2.29rem);

    --spacing: 3rem;
}

@include font_face("HackBold", $weight: 700);
@include font_face("HackBold", $weight: 700, $format: "woff");
@include font_face("HackRegular");
@include font_face("HackRegular", $format: "woff");

body {
    font-size: var(--fs-0);
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
    place-items: center;
    background-color: hsl(var(--base));
    color: hsl(var(--txtc));
    font-family: "HackRegular", sans-serif;
    grid-auto-rows: auto auto 1fr auto;
    > main {
        grid-area: main;
    }
}

.hidden-menu {
    position: absolute;
    top: -10rem;
    padding: 1rem;
    background-color: hsl(var(--txtc));
    color: hsl(var(--base));
    z-index: 2;
    transition: 350ms ease;
    text-align: center;
    font-size: var(--fs-2);
    text-transform: capitalize;

    &:focus {
        top: 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.navigation {
    grid-area: nav;
    --spacing: 2em;
    padding: var(--spacing);
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-list {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        gap: calc(var(--spacing) / 2);
    }
}

.grid {
    place-content: center;
    max-width: 80vw;
    display: grid;
    gap: 1rem;
    margin: auto;
    @media (min-width: 40em) {
        grid-template-columns: repeat(auto-fit, 35ch);
        grid-auto-rows: 1fr;
        max-width: min(calc(35ch * 3 + 3rem), 80vw);
    }
}

.astro-code {
    padding: 0.2rem;
    padding-block-start: 1.6rem;
    border-radius: 0.2rem;
    position: relative;
    max-width: 100ch;
    margin: 1rem auto;

    &::before {
        content: "";
        position: absolute;
        height: 1.3rem;
        left: 0;
        top: 0;
        width: 100%;
        background-color: hsl(221.7, 16.3%, 27.6%, 0.3);
    }

    &::after {
        content: "";
        width: 2.1rem;
        position: absolute;
        height: 0.6rem;
        right: 6px;
        top: 6px;
        background: radial-gradient(
                    farthest-side,
                    hsl(var(--red)) 100%,
                    transparent
                )
                top right/ 0.6rem,
            0.6rem,
            radial-gradient(farthest-side, hsl(var(--green)) 100%, transparent)
                center/ 0.6rem,
            0.6rem,
            radial-gradient(farthest-side, hsl(var(--yellow)) 100%, transparent)
                left / 0.6rem,
            0.6rem;
        background-repeat: no-repeat;
    }
}

.nav-paginate {
    font-weight: bold;
    text-align: center;
    grid-column: 1 / -1;
    width: max-content;
    margin: auto;
}

.container {
    width: 100%;
    padding-right: calc(var(--spacing) * 0.5);
    padding-left: calc(var(--spacing) * 0.5);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
